*.o
*.a

iofwd_config.h.in
Makefile
config.log
autom4te.cache
config.status
configure
iofwd_config.h
aclocal.m4
Makefile.in
install-sh
missing
depcomp
config.guess
config.sub
.dirstamp
.deps


sandbox/recordparam
sandbox/regex
sandbox/LookupSMTest
sandbox/LookupSM
sandbox/LookupSM_async
sandbox/TestSM
sandbox/TestSM_async
sandbox/sc
sandbox/zoidfs-hints
sandbox/imt-test
sandbox/LookupSMTest2
sandbox/LookupSMTestClient
sandbox/smmanager
sandbox/bmi-pp-perf
sandbox/zoidfs-io-bsize
sandbox/zoidfs-io-bsize-local
sandbox/vl-test
sandbox/pctest
sandbox/PCtest
sandbox/hatest
src/fuse/fuseclient
src/fuse/fusedispatch
src/iofwd/iofwd
test/bmitest
test/completion
test/configfile
test/configfile-cunit
test/configparser
test/dcache-unit
test/fcache-unit
test/forwarding
test/gencache-unit
test/iofwdlog
test/iofwdreceive
test/iofwdsend
test/levelmatch
test/regexfilter
test/smlinks
test/smtest
test/timertest
test/unit-tests/zoidfs-io-cunit
test/unit-tests/zoidfs-io-cunit-local
test/unit-tests/zoidfs-md-cunit
test/unit-tests/zoidfs-md-cunit-local
test/workqueue
test/xdrspeed
test/zoidfs-creat-thput
test/zoidfs-getattr-thput
test/zoidfs-io
test/zoidfs-io-cunit
test/zoidfs-io-cunit-local
test/zoidfs-io-iofwd
test/zoidfs-io-iofwd-thread
test/zoidfs-io-thread
test/zoidfs-md
test/zoidfs-md-cunit
test/zoidfs-md-cunit-local
test/zoidfs-md-cunit-trace
test/zoidfs-md-iofwd
test/zoidfs-md-iofwd-thread
test/zoidfs-md-thread
test/zoidfs-microbenchmarks/.deps/
test/zoidfs-microbenchmarks/.dirstamp
test/zoidfs-microbenchmarks/zoidfs-tile-io
test/zoidfs-microbenchmarks/zoidfs-tile-io-local
test/zoidfs-microbenchmarks/creat-thput
test/zoidfs-microbenchmarks/creat-thput-local
test/zoidfs-microbenchmarks/getattr-thput
test/zoidfs-microbenchmarks/getattr-thput-local
test/zoidfs-microbenchmarks/lookup-thput
test/zoidfs-microbenchmarks/lookup-thput-local
test/zoidfs-microbenchmarks/mkdir-thput
test/zoidfs-microbenchmarks/mkdir-thput-local
test/zoidfs-microbenchmarks/null-thput
test/zoidfs-microbenchmarks/null-thput-local
test/zoidfs-microbenchmarks/remove-thput
test/zoidfs-microbenchmarks/remove-thput-local
test/zoidfs-microbenchmarks/setattr-thput
test/zoidfs-microbenchmarks/setattr-thput-local
test/zoidfs-mkdir-thput
test/zoidfs-null-thput
test/zoidfs-remove-thput
test/zoidfs-setattr-thput
test/zoidfsapi-link-test
test/zoidfsapi-lookup-perm-test
test/zoidfsapi-rename-test
test/zoidfsapi-symlink-test
test/boost/atomics
test/boost/bmi-pingpong



test/boost/iofwdevent-resource
test/boost/encoder
test/boost/dummy
test/boost/sm
zoidfs-local.pc
zoidfs.pc
test/unit-tests/configfile-cunit
buildlogs
